# DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/mybase
BOT_TOKEN='bot_token'
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=hostname
POSTGRES_PORT=5432
POSTGRES_NAME=basename